---
layout: default
---
<a class="back-btn" href="/">
    <
</a>
<ul id="social">
  <li>
    <a href="http://xassembly.com">
      <div class="xa-ico"></div>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/y3ddet">
      <i class="fa fa-fw fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="mailto:sales@xassembly.com">
      <i class="fa fa-fw fa-envelope"></i>
    </a>
  </li>
</ul>
<div id="post-container" class="single-post">  
  <div class="post">
    <div class="posttitle">{{ page.title }}</div>
    <div class="date">{{ page.date | date: "%A, %B %d, %Y" }}</div>
    <div class="postcontent">{{ content }}</div>
  </div>
</div>
